.header {
  padding: 2rem 0;
}

.logoWrap {
  display: flex;
  align-items: center;
}

.navLink {
  display: none;
  font-size: 1.6rem;
  margin-left: 4rem;
  font-weight: 600;
  color: var(--white);
  &:last-child {
    padding: 0.5rem 1rem;
    color: #64c37d;
    border: 2px solid #64c37d;
    border-radius: 25px;
  }
}

.contactLink {
  display: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1e2e3b;
  padding: 1rem 2rem;
  background: #2dd4bf;
  border-radius: 20px;
  margin-left: 4rem;
  line-height: 1;
}
