.hero {
  text-align: center;
  padding: 8rem 0 4rem;
  .heroInfoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heroImageWrap {
      border: solid 6px var(--cyan);
      border-radius: 50%;
      overflow: hidden;
      margin: 2rem 0;
    }
    .heroInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .heroLinks {
        .linkWrap {
          display: flex;
          justify-content: center;
          margin-top: 2rem;
          .cvLink {
            width: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            // color: #1e2e3b;
            color: #000000;
            padding: 1rem 4rem;
            background: var(--white);
            border-radius: 10px;
            border: 1px solid #111;
          }
          .githubLink {
            width: 100%;
            font-size: 1.6rem;
            font-weight: 600;
            // color: #1e2e3b;
            color: #f1f1f1;
            padding: 1rem 4rem;
            background: #000000;
            border-radius: 10px;
            border: 1px solid #333;
          }
        }
      }
    }
  }
}

.tech {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem 0;
  .techItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    .icon {
      display: flex;
      flex-direction: column;
      text-align: center;
      .iconText {
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: 0.5rem;
      }
    }
  }
}
